* {
    font-family: sans-serif;
}

body {

    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0px 25px;
    /*epacio laterales de la pagina*/


}

.msg-divs {
    border: 1px solid;
    border-radius: 10px 10px;
    margin-top: 5px;
    padding: 15px;
}

.msg-exito {
    background-color: #28a745;
}

.msg-error {
    background-color:#dc3545 ;
}

.msg-incompleto {
    background-color:#ffc107 ;
}

header {
    display: flex;
    background-image: url('../img/f.jpg');
    border-radius: 15px;
    background-size: cover;
    text-align: center;
    height: 170px;
    /*altura fija*/
    padding: 10px;
    justify-content: space-between;
}

.item-imagen {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {

    margin: 0 auto;
    max-width: 100%;
    border-radius: 50%;
}

h1 {
    max-width: 100%;
    margin: 0;
    color: rgb(211, 214, 196);
}

/*-------------migas:--------------*/
.breadcrumb {
    display: flex;
    list-style: none;
    margin-top: 5px;
    border-radius: 10px 10px;
}

/*--------------------------------*/
.main {
    display: flex;
    gap: 2px;
    
    font-family: sans-serif;
    height: 100%;
    min-width: 100%;
}

.main .sidebar,
.main .contenido {
    height: 100vh;


    border-radius: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    height: auto;


}

.main .sidebar {
    background: rgb(63, 93, 102);
    flex: 1 1 25%;
padding:12px 24px ;
}

.main .contenido {
    flex: 1 1 75%;
    box-sizing: border-box;
    background: rgb(150, 151, 190);
    height: auto;
    
    overflow: hidden;
    /*evita desbordamiento*/
    padding: 5px 5px;

}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .main .sidebar,
    .main .contenido {
        flex: 1 1 100%;
    }
}


.nav-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;

    list-style: none;
    margin-bottom: 10px;
    max-width: 100%;
    color: white;
    flex-basis: 50%;
}

.nav-item button {
    display: flex;
    border-radius: 15px;
    background: rgb(55, 76, 196);
    padding: 10px;
    width: 75%;
}

@media (max-width: 768px) {
    .nav-item button {
        width: 100%;
        
    }

}

/*iconos*/
.nav-item button {
    display: flex;
    max-width: 100%;
    font-size: 15px;
    color: rgb(240, 233, 225);
    margin-top: 15px;
}

.nav-item a:link {
    text-decoration: none;
    /* Quitar subrayado del enlace */
    margin-right: 5px;
    
    margin-left: 5px;

    font-size: 18px;
    /* Tamaño del ícono */

}

.inicio button {
    display: flex;
    border-color: #e4e4e4;
    /* Color de borde diferente para el elemento "Inicio" */
    padding: 10px;
    background: gray;
    border-radius: 15px;
    width: 15vh;
    float: right;

}

.nav-item.inicio i {
    color: #b8d60f;
    /* Color de ícono diferente para el elemento "Inicio" */

}

.nav-item .MiArchivo button {
    border-color: #e4e4e4;
    /* Color de borde diferente para el elemento "Inicio" */
    padding: 10px;
    background: rgb(2, 41, 43);
    border-radius: 15px;
}

.nav-item.inicio button:hover,
.nav-item button:hover {
    background-color: rgb(13, 218, 47);
}

.nav-item.MiArchivo button:hover {
    background-color: rgb(13, 218, 47);
}

.nav-item a:visited {
    color: rgb(42, 165, 83);
    
}

.sidebar.chat-container {
    /* Ajustar al ancho del sidebar */
    box-sizing: border-box;
    /*  padding y borde en el ancho */
    max-height: 80%;
    max-width: 100%;
    margin-top: 5px;
    /* Margen superior para separarlo de los botones */
    border-radius: 55px 55px;
    text-align: center;
    overflow: auto;

}


.chat-container {

    background-color: #f2f2f2;
    /* Color de fondo del contenedor del chat */
    border-radius: 55px 55px;
    height: 60vh;

}

.user-profile {


    text-align: center;
    /* Centra el contenido del perfil */
    height: 50vh;
}

.user-avatar {
    display: flex;
    width: 50px;
    
    height: 50px;

    border-radius: 50%;

    margin-bottom: 10px;
    
}

/*--------------------------------------------*/
/*---------contemido------*/
.container-main {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(140, 146, 146);
padding: 30px;
    color: blue;
    font-size: 10px;
    max-width: 100%;
    border-radius:25px  ;
    margin: 0px;
}

/*container principal*/
/*index*/

.container-valores {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(225, 240, 183);
    padding: 15px 2px;
    border: 1px solid black;
    column-gap: 1px;
    margin-top: 20px;
    height: 89vh;
    width: 100%;

    border-radius: 25px 25px;

}

.item-valores {
    background-color: rgb(165, 164, 170);
    border: 1px solid black;
    padding: 15px;
    font-size: 55px;
    justify-self: auto;
    text-align: center;
    margin-top: 10p;
    height: 10vh;
    font-stretch: condensed;
    max-width: 100%;

}

.item-moneda {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid;
    border-radius: 10px 10px;
    justify-self: auto;
    width: auto;
    background-color: #b7b9b2;
    font-size: 10px;
    font-stretch: condensed;
    /*me acomodo los valores dentro del grid*/
    max-width: 100%;
}

.interior-item-a {
    grid-row: 1 / 3;
    align-self: center;


}



h5 {
    text-align: end;
}

/*portal donde me traigo los datos*/
/*----ARCHIVO-----*/
.container-archivo {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    overflow: scroll;
}

.item-archivo {
    font-size: 15px;
    background-color: rgb(228, 222, 238);
    border: 1px solid black;
    text-align: center;
    font-size: 10px;
   
}

.item-aa {
    grid-row: 1 / 5;

    text-align: center;
    align-items: center;
}

.item-relleno {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    border: 1px solid black;
    
}
/*informes*/
.container-grafico {
overflow:scroll;
    background-color: #b8d60f;
    height: 40%;
    width:100%;
    margin-top: 15px;
    
}

/* Estilos para la grid del gráfico */

.grid {

    display: flex;
text-align: start;
    align-items: flex-end;
    height: 170px;
    width:100%;
    background-color: #f1f1f1;

    border: 1px solid #ccc;
}

/* Estilos para las barras del gráfico */
.bar {
    width: 30px;
    background-color: #4caf50;
    text-align: center;
    color: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 1px solid black;
}

.bar::before {
    content: attr(data-name);
    position: absolute;

    font-size: 5px;
    color: #000;
}

.bar::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    font-size: 10px;
    color: #000;
}

/* --bar-value para establecer la altura de la barra */
.bar {
    height: var(--bar-value);
}
/*contacto*/



.formulario {
        
    grid-column: 1 / 2; /* Primera columna */
    grid-row: 1 / 3; /* Ocupa dos filas */
    background: rgb(25, 39, 228);
    color: white;
    padding:15px;
    border-radius: 15px;
}
.formulario form {
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.formulario form .form-control {
    margin-bottom: 2px;
}

.formulario label {
    display: block;
    
    margin-bottom: 5px;
    
}
.formulario input,
.formulario form textarea {
    overflow: scroll;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 0.3px solid #e23409;
    border-radius: 3px;
    
    box-sizing: border-box;
    
}

.formulario form button {
    width: 30%;
    padding: 5px;
    background-color: #657565;
    color: rgb(35, 36, 36);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.formulario form button:hover {
    background-color: #56f056;
}
.container-contacto
{
    display: flex;
    background-color: #0B5345;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 50px;
}

    .container-contacto {
        display: grid;
        grid-template-columns:auto auto;
        gap: 20px; 
        background-color: #0B5345;
        border-radius: 15px;
        padding: 20px;
        width: 100%;

        
    }
    
    
    
    .parrafo-contacto {
       
        background-color: #7b7981;
        padding: 20px;
        border-radius: 15px;
    }
    
    .datos-contacto {
        
        background-color: beige;
        padding: 20px;
        border-radius: 15px;
        display: flex; 
        justify-content: space-between; 
    }
   
    
    .item-contacto {
        max-width: 50%; 
    }
    
    .item-contacto img {
        max-width: 100%; 
    }
    
    ul{
list-style: none;
    }
    .item-contacto
    {
        padding:30px;
        
        margin:2px;
    
    }
    
/* ---------pie---------*/
footer {


    font-family: sans-serif;
    background-color: rgb(151, 153, 161);
    color: black;
    text-align: center;
    padding: 0;
    border-radius: 15px;
    margin-left: 0;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5px;
    margin-top: 7px;
    margin-right: 0;
    height: 130px;
    height: 800px;
    /*altura fija*/

}

.container {
    display: flex;
    max-width: 1200px;
    margin: 30px;
    padding: 0;
    margin-top: 15px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: start;

}

.footer-links a {
    color: black;

}

#developer {
    align-self: flex-end;
    
}

.footer-links ul {
    list-style: none;
    /* Eliminar las viñetas */
    padding: 0;



}

.footer-links li {

    list-style: none;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    /* Alinear verticalmente el contenido */
}

.footer-links {
    flex: 1 1 0;
    margin-right: 20px;

}

.footer-links h4 {

    font-size: 20px;
    margin-top: 25px;
    font-weight: 500;
    width: 25%;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.developer {
    padding: 20px;

    margin-left: auto;

}

h2 a {
    color: black;
}

.pie {
    text-align: center;
    flex-basis: 100%;
}